<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Candidato</title>
    <link rel="stylesheet" href="../static/css/formulario.css">
    <link rel="shortcut icon" type="image/svg" href="../static/abobora.ico"/>

    
   
  
</head>

<body>
    <div id="form_fundo">
        <h1>Cadastro - Candidato</h1>
        <form method="POST" action="{{ url_for('cadastro_candidato') }}">
            {{ form.hidden_tag() }}
            <p>{{ form.nome.label }}<br>{{ form.nome(size=32) }}</p> 
            <p>{{ form.login.label }}<br>{{ form.login(size=32) }}</p> 
            <p>{{ form.senha.label }}<br>{{ form.senha(size=32) }}</p> 
            <p>{{ form.submit() }}</p>
        </form>

        
    </div>

    
    
</body>

</html>