<html>

<head>
  
  <link href="../static/css/arena.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/svg" href="../static/abobora.ico"/>
  
  <title>Salvador de Logins</title>
</head>

<body>
<div id="btn">

<div id="tabela">
  
  <table width="1020" height="25%" align="center"  border="2" bodercolor="blue">
    <TR BGCOLOR=#E0F8E0> <!--atributo COLSPAN diz q o cabeçalho vai abranger as 4 colunas-->
      <TD ALIGN="center" VALIGN="center" COLSPAN="5">
        <FONT FACE="Comic Sans MS"><B>Dados</B>
      </TD>
    <tr bgcolor="e0eeee">
      <td>
        <font face="Comic Sans MS"><b>ID</b></font>
      </td>
      <td>
        <font face="Comic Sans MS"><b>NOME DO CANDIDATO</b></font>
      </td>
      <td>
        <font face="Comic Sans MS"><b>LOGIN</b></font>
      </td>
      <td>
        <font face="Comic Sans MS"><b>SENHA</b></font>
      </td>
     

      

      {% for dado in dados %}
    <tr>
      <td>
        <font face="Comic Sans MS" size="4">{{dado.id}}</font>
      </td>

      <td>
        <font face="Comic Sans MS" size="4">{{dado.nome_candidato}}</font>
      </td>
      <td>
        <font face="Comic Sans MS" size="4">{{dado.login}}</font>
      </td>
      <td>
        <font face="Comic Sans MS" size="4">{{dado.senha}}</font>
      </td>
      <td>
        <form action="/excluir/{{ dado.id }}" method="POST">
            <button type="submit">Excluir</button>
        </form>
    </td>
    </tr>
      
      {% endfor %}

  </table>
  
</div>
<br><br>


<div>

<br>
<form action="./">
  <input type="submit" value="ADD NOVOS" />
</div>

</body>
</htmal>